In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

In [2]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [3]:
train =pd.read_csv('train.csv')
test =pd.read_csv('test.csv')
gabung = pd.concat([train, test], ignore_index=True)

In [4]:
gabung1=gabung[['text','target']]
df_balanced =gabung1

In [5]:
train = df_balanced.iloc[0:7613]
test = df_balanced.iloc[7613:10876]

In [16]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [18]:


# Fungsi preprocessing dan encoding tetap sama
def preprocess_and_encode(texts, batch_size=32):
    encoded_texts = []
    for i in tqdm(range(0, len(texts), batch_size), desc="Preprocessing and Encoding"):
        batch_texts = texts[i:i+batch_size]
        preprocessed_text = bert_preprocess(batch_texts)
        encoded_text = bert_encoder(preprocessed_text)
        encoded_texts.append(encoded_text['pooled_output'].numpy())
    return np.concatenate(encoded_texts)

# Memproses teks dari dataset
texts = train['text'].tolist()
encoded_texts = preprocess_and_encode(texts)

Preprocessing and Encoding: 100%|████████████████████████████████████████████████████| 238/238 [16:02<00:00,  4.05s/it]

In [19]:
pooled_output = np.array(encoded_texts)

In [20]:
pooled_output.shape

(7613, 768)

In [24]:
y=train["target"]

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
7608    1.0
7609    1.0
7610    1.0
7611    1.0
7612    1.0
Name: target, Length: 7613, dtype: float64

In [21]:
np.save('pooled_output_all.npy', pooled_output)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_temp, y_train, y_temp = train_test_split(pooled_output, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=1/3, random_state=42)

# Membuat dataset TensorFlow untuk set pelatihan
train_dataset = tf.data.Dataset.from_tensor_slices((X_train, y_train))
train_dataset = train_dataset.shuffle(buffer_size=1024).batch(10).prefetch(tf.data.AUTOTUNE)

# Membuat dataset TensorFlow untuk set validasi
val_dataset = tf.data.Dataset.from_tensor_slices((X_val, y_val))
val_dataset = val_dataset.batch(10).prefetch(tf.data.AUTOTUNE)


# Membuat dataset TensorFlow untuk set pengujian
test_dataset = tf.data.Dataset.from_tensor_slices((X_test, y_test))
test_dataset = test_dataset.batch(10).prefetch(tf.data.AUTOTUNE)

In [29]:
def create_model():
    
    input_layer = tf.keras.Input(shape=(768,), dtype=tf.float32, name='pooled_output')

    # Hidden layers
    dense1 = tf.keras.layers.Dense(128, activation='relu')(input_layer)
    dropout1 = tf.keras.layers.Dropout(0.3)(dense1)
    dense2 = tf.keras.layers.Dense(64, activation='relu')(dropout1)
    dropout2 = tf.keras.layers.Dropout(0.3)(dense2)
    
    # Output layer
    output = tf.keras.layers.Dense(1, activation='sigmoid')(dropout2)
    
    model = tf.keras.Model(inputs=input_layer, outputs=output)
    return model
# Membuat model
model = create_model()

# Kompilasi model
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=2e-5),
              loss='binary_crossentropy',
              metrics=['accuracy'])

# Latih model
#history = model.fit(dataset, epochs=35, verbose=1)
history = model.fit(X_train, y_train, 
                    validation_data=(X_val, y_val),
                    epochs=50, 
                    batch_size=10,
                    verbose=1)

Epoch 1/50
533/533 [==============================] - 1s 2ms/step - loss: 0.6845 - accuracy: 0.5577 - val_loss: 0.6260 - val_accuracy: 0.6735
Epoch 2/50
533/533 [==============================] - 1s 2ms/step - loss: 0.6396 - accuracy: 0.6271 - val_loss: 0.6116 - val_accuracy: 0.6715
Epoch 3/50
533/533 [==============================] - 1s 2ms/step - loss: 0.6252 - accuracy: 0.6523 - val_loss: 0.5930 - val_accuracy: 0.6932
Epoch 4/50
533/533 [==============================] - 1s 2ms/step - loss: 0.6170 - accuracy: 0.6709 - val_loss: 0.5862 - val_accuracy: 0.7070
Epoch 5/50
533/533 [==============================] - 1s 2ms/step - loss: 0.6038 - accuracy: 0.6748 - val_loss: 0.5814 - val_accuracy: 0.7109
Epoch 6/50
533/533 [==============================] - 1s 2ms/step - loss: 0.6044 - accuracy: 0.6825 - val_loss: 0.5762 - val_accuracy: 0.7240
Epoch 7/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5960 - accuracy: 0.6921 - val_loss: 0.5730 - val_accuracy: 0.7240
Epoch 8/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5916 - accuracy: 0.6964 - val_loss: 0.5723 - val_accuracy: 0.7234
Epoch 9/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5847 - accuracy: 0.7076 - val_loss: 0.5664 - val_accuracy: 0.7162
Epoch 10/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5799 - accuracy: 0.7103 - val_loss: 0.5619 - val_accuracy: 0.7332
Epoch 11/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5803 - accuracy: 0.7097 - val_loss: 0.5567 - val_accuracy: 0.7398
Epoch 12/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.7161 - val_loss: 0.5533 - val_accuracy: 0.7405
Epoch 13/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5691 - accuracy: 0.7168 - val_loss: 0.5516 - val_accuracy: 0.7424
Epoch 14/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5669 - accuracy: 0.7191 - val_loss: 0.5465 - val_accuracy: 0.7392
Epoch 15/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5632 - accuracy: 0.7266 - val_loss: 0.5462 - val_accuracy: 0.7484
Epoch 16/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5634 - accuracy: 0.7234 - val_loss: 0.5419 - val_accuracy: 0.7444
Epoch 17/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7266 - val_loss: 0.5465 - val_accuracy: 0.7378
Epoch 18/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7272 - val_loss: 0.5439 - val_accuracy: 0.7484
Epoch 19/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7257 - val_loss: 0.5354 - val_accuracy: 0.7523
Epoch 20/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7332 - val_loss: 0.5306 - val_accuracy: 0.7523
Epoch 21/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7345 - val_loss: 0.5280 - val_accuracy: 0.7549
Epoch 22/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7350 - val_loss: 0.5256 - val_accuracy: 0.7549
Epoch 23/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7399 - val_loss: 0.5340 - val_accuracy: 0.7497
Epoch 24/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7378 - val_loss: 0.5300 - val_accuracy: 0.7608
Epoch 25/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7427 - val_loss: 0.5195 - val_accuracy: 0.7589
Epoch 26/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7403 - val_loss: 0.5150 - val_accuracy: 0.7589
Epoch 27/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7425 - val_loss: 0.5138 - val_accuracy: 0.7687
Epoch 28/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5284 - accuracy: 0.7452 - val_loss: 0.5135 - val_accuracy: 0.7720
Epoch 29/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5264 - accuracy: 0.7459 - val_loss: 0.5095 - val_accuracy: 0.7661
Epoch 30/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5253 - accuracy: 0.7474 - val_loss: 0.5071 - val_accuracy: 0.7654
Epoch 31/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5274 - accuracy: 0.7461 - val_loss: 0.5104 - val_accuracy: 0.7720
Epoch 32/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5232 - accuracy: 0.7517 - val_loss: 0.5040 - val_accuracy: 0.7707
Epoch 33/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5178 - accuracy: 0.7594 - val_loss: 0.5015 - val_accuracy: 0.7792
Epoch 34/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5189 - accuracy: 0.7540 - val_loss: 0.5048 - val_accuracy: 0.7654
Epoch 35/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5151 - accuracy: 0.7561 - val_loss: 0.5133 - val_accuracy: 0.7543
Epoch 36/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5157 - accuracy: 0.7639 - val_loss: 0.4995 - val_accuracy: 0.7806
Epoch 37/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5127 - accuracy: 0.7652 - val_loss: 0.4989 - val_accuracy: 0.7832
Epoch 38/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5108 - accuracy: 0.7591 - val_loss: 0.4936 - val_accuracy: 0.7825
Epoch 39/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5120 - accuracy: 0.7583 - val_loss: 0.4912 - val_accuracy: 0.7819
Epoch 40/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5071 - accuracy: 0.7645 - val_loss: 0.4914 - val_accuracy: 0.7806
Epoch 41/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5033 - accuracy: 0.7673 - val_loss: 0.4890 - val_accuracy: 0.7845
Epoch 42/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5032 - accuracy: 0.7626 - val_loss: 0.4895 - val_accuracy: 0.7858
Epoch 43/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5020 - accuracy: 0.7675 - val_loss: 0.4876 - val_accuracy: 0.7845
Epoch 44/50
533/533 [==============================] - 1s 2ms/step - loss: 0.5002 - accuracy: 0.7654 - val_loss: 0.4883 - val_accuracy: 0.7891
Epoch 45/50
533/533 [==============================] - 1s 2ms/step - loss: 0.4978 - accuracy: 0.7681 - val_loss: 0.4861 - val_accuracy: 0.7884
Epoch 46/50
533/533 [==============================] - 1s 2ms/step - loss: 0.4974 - accuracy: 0.7709 - val_loss: 0.4853 - val_accuracy: 0.7924
Epoch 47/50
533/533 [==============================] - 1s 2ms/step - loss: 0.4968 - accuracy: 0.7722 - val_loss: 0.4838 - val_accuracy: 0.7937
Epoch 48/50
533/533 [==============================] - 1s 2ms/step - loss: 0.4941 - accuracy: 0.7754 - val_loss: 0.4809 - val_accuracy: 0.7858
Epoch 49/50
533/533 [==============================] - 1s 2ms/step - loss: 0.4918 - accuracy: 0.7743 - val_loss: 0.4801 - val_accuracy: 0.7937
Epoch 50/50
533/533 [==============================] - 1s 2ms/step - loss: 0.4890 - accuracy: 0.7737 - val_loss: 0.4812 - val_accuracy: 0.7924

In [34]:
# Menyimpan model
model.save('nama_model.h5')

In [30]:


loss, accuracy = model.evaluate(test_dataset, verbose=0)

# Print the test loss and accuracy
print(f'Test loss: {loss:.3f}')
print(f'Test accuracy: {accuracy:.3f}')

Test loss: 0.483
Test accuracy: 0.783

In [31]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [35]:

# Fungsi preprocessing dan encoding tetap sama
def preprocess_and_encode(texts, batch_size=32):
    encoded_texts = []
    for i in tqdm(range(0, len(texts), batch_size), desc="Preprocessing and Encoding"):
        batch_texts = texts[i:i+batch_size]
        preprocessed_text = bert_preprocess(batch_texts)
        encoded_text = bert_encoder(preprocessed_text)
        encoded_texts.append(encoded_text['pooled_output'].numpy())
    return np.concatenate(encoded_texts)

# Memproses teks dari dataset
texts = test['text'].tolist()
encoded_texts = preprocess_and_encode(texts)

Preprocessing and Encoding: 100%|████████████████████████████████████████████████████| 102/102 [08:22<00:00,  4.93s/it]

In [36]:
pooled_output = np.array(encoded_texts)

In [41]:
pooled_output.shape

(3263, 768)

In [38]:
np.save('test.npy', pooled_output)

In [43]:
prediction_dataset = tf.data.Dataset.from_tensor_slices(pooled_output).batch(10)

In [44]:
predictions = model.predict(prediction_dataset)

327/327 [==============================] - 0s 672us/step

In [45]:
predictions

array([[0.5458827 ],
       [0.43943316],
       [0.5966541 ],
       ...,
       [0.8780239 ],
       [0.4595592 ],
       [0.66802037]], dtype=float32)

In [46]:
# Konversi hasil prediksi probabilitas ke dalam prediksi biner (0 atau 1)
binary_predictions = (predictions > 0.5).astype(int)

# Menampilkan hasil prediksi biner
print("Prediksi biner (0 atau 1):", binary_predictions)

Prediksi biner (0 atau 1): [[1]
 [0]
 [1]
 ...
 [1]
 [0]
 [1]]

In [47]:
binary_predictions.shape

(3263, 1)

In [60]:


# Ubah array ke DataFrame
df = pd.DataFrame(binary_predictions, columns=['target'])

print(df)

      target
0          1
1          0
2          1
3          1
4          1
...      ...
3258       0
3259       1
3260       1
3261       0
3262       1

[3263 rows x 1 columns]

In [66]:
submission = pd.read_csv('submission.csv')
submission

         id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       1
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

In [67]:
submission = submission.drop(columns=['target'])
submission

         id
0         0
1         2
2         3
3         9
4        11
...     ...
3258  10861
3259  10865
3260  10868
3261  10874
3262  10875

[3263 rows x 1 columns]

In [68]:
submission=pd.concat([submission , df], axis=1)

In [69]:
submission

         id  target
0         0       1
1         2       0
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       0
3259  10865       1
3260  10868       1
3261  10874       0
3262  10875       1

[3263 rows x 2 columns]

In [73]:
submission.to_csv('submission1.csv', index=False)